body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: yellow;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    letter-spacing: 4px;
  }
  .container {
    width: 400px;
    text-align: center;
    position: relative;
  }
  .counter {
    font-size: 40px;
  }
  .progress-bar-back {
    position: absolute;
    height: 10px;
    width: 100%;
    background-color: gray;
    border: none;
    border-radius: 10px;
  }
  .progress-bar-front {
    position: absolute;
    height: 10px;
    width: 0%;
    background-color: orangered;
    border: none;
    border-radius: 10px;
  }